@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Check In</h1>
</div>

<div class="row">

    <div class="col-md-11">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" data-bind="text: date"></h2>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                Time
            </div>
            <div class="col-md-3">
                Patient
            </div>
            <div class="col-md-3">
                Doctor
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: appointments">
                    <li>
                        <span class="col-md-3">
                            <a data-bind="click: $parent.putAppointment">
                                Check-In
                            </a>
                        </span>
                        <span class="col-md-3" data-bind="text: Hour + ':' + Minute"></span>
                        <span class="col-md-3" data-bind="text: PatientName"></span>
                        <a href="#" data-bind="click: $parent.getDoctorDetail"><strong><span class="col-md-3" data-bind="text: DoctorName"></span></strong></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>
</div>
<br />
<div class="col-md-4">
    <!-- TODO: Patient Details -->
</div>
<br />


<div class="row">
    <!-- ko if:doctorDetail() -->


    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Update Doctor</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit:putDoctor">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value: doctorDetail().Name" required />
                        </div>
                        <label for="inputName" class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value: doctorDetail().Phone" required />
                        </div>
                        <label for="inputName" class="col-sm-3 control-label">Account SID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value: doctorDetail().AccountSID" required />
                        </div>
                        <label for="inputName" class="col-sm-3 control-label">Auth Token</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value: doctorDetail().AuthToken" required />
                        </div>
                        <label for="inputName" class="col-sm-3 control-label">Twilio Phone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value: doctorDetail().TwilioPhone" required />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- /ko -->
</div>
<br />

<!-- Commenting this code out for now.  Went with edit method vs add method.  May put back in
<div class="row">
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Doctor</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addDoctor, with: newDoctor">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value: Name" required />
                        </div>

                        <label for="inputPhone" class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind=" value: Phone" required />
                        </div>

                        <label for="inputAccountSID" class="col-sm-3 control-label">Account SID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputAccountSID" data-bind="value:AccountSID" required />
                        </div>

                        <label for="inputAuthToken" class="col-sm-3 control-label">Auth Token</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputAuthToken" data-bind="value:AuthToken" required />
                        </div>

                        <label for="inputTwilioPhone" class="col-sm-3 control-label">Twilio Phone</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputTwilioPhone" data-bind="value:TwilioPhone" required />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Appointment</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addAppointment">
                    <div class="form-group">
                        <label for="inputDoctor" class="col-sm-2 control-label">Doctor</label>
                        <div class="col-sm-10">
                            <select class="form-control" data-bind="options:doctors, optionsText: 'Name', value: newAppointment.Doctor"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPatient" class="col-sm-2 control-label">Patient</label>
                        <div class="col-sm-10">
                            <select class="form-control" data-bind="options:patients, optionsText: 'Name', value: newAppointment.Patient"></select>
                        </div>
                    </div>

                    <div class="form-group" data-bind="with: newAppointment">
                        <label for="inputTitle" class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputStatus" data-bind="value:Status" required />
                        </div>

                        <label for="inputDateTime" class="col-sm-2 control-label">DateTime</label>
                        <div class="col-sm-10">
                            <input type="datetime-local" class="form-control" id="inputDateTime" data-bind="value:DateTime" required />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
 -->
<br />
